@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --blue-dark: #101A2E;
  --blue-darken: #0D1626;
  --green-primary: #0CA88E ;
  --white-primary: #f2f2f2;
}

h1, h2, p, button, footer, a{
  font-family: "Exo 2", serif !important;
}

* {
  margin: 0;
  padding: 0
}

body {
  background-color: var(--blue-darken)
}

.textt-primary {
  color: var(--green-primary)  !important;
}