.navbar {
  background-color: #0C0E23;
  border-radius: 16px;
  margin: 32px auto;
  padding: 0 24px;
  width: 35%;
  height: 70px;
}

@media (max-width: 640px){
  .navbar {
    width: 90%;
    height: 70px;
  }

  .navbar a {
    font-size: small;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .navbar {
    width: 80%;
    height: 70px;
  }
}