.navbar {
  background-color: #0C0E23;
  border-radius: 16px;
  margin: 32px auto;
  padding: 8px 40px;
  width: 85%;
  height: 80px;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.navbar__links a{
  margin: 0 24px;
}

@media (max-width: 640px){
  .navbar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 100px;
  }

  .navbar a {
    font-size: smaller;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .navbar {
    width: 80%;
    height: 80px;
  }
}

@media (min-width: 1200) and (max-width: 1380px) {
  .navbar a {
    font-size: medium;
  }
}